/* ############################################################################*/
/*                            DOCUMENT STYLES                                  */
/* ############################################################################*/


/* =============================== IMPORTING =============================== */

@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap');


/* =============================== RESET CSS =============================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* =============================== FONTS =============================== */

/* H1 48 */
.h1-48 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  color: #c4c4c4;
}

/* H2 38 */
.h2-38 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  /* identical to box height, or 126% */
  color: #c4c4c4;
}

/* H3 28 */
.h3-28 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  color: #c4c4c4;
}

/* P 16 */
.p-16 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #c4c4c4;
}

/* Caption 12 */
.caption-12 {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  color: #c4c4c4;
}

/* P 24 */
.p-24 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #c4c4c4;
}

/* P 20 */
.p-20 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  color: #c4c4c4;
}


/* =============================== GLOBAL COLORS =============================== */

/* Secondary / C100 */
.secondary-c100 {
  color: #005238;
}

/* Secondary / C110 */
.secondary-c110 {
  color: #177159;
}


/* =============================== MISCELLANEOUS =============================== */

.activa {
  background-color: transparent !important;
  border-bottom: solid green !important;
}

